@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  /* set as default */
  prefersdark: false;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;
  /* color of browser-provided UI */

  --color-base-100: #FFFFFF;
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: #002366;
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: #FFD700;
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: #C0C0C0;
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: #1A1A1A;
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: #93c5fd;
  --color-info-content: oklch(98% 0.01 220);
  --color-success: #4ade80;
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: #fbbf24;
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: #f87171;
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}